h1{ color: black;
    font-family: 'Lucida Sans Unicode';
    font-size: 40px;
    background-color: rgb(181, 185, 126);
    text-align: center;
}
h2{ color: black;
    font-family: 'Lucida Sans';
    font-size: 35px;
    font-style: italic;
    font-style: initial;
    background-color: rgb(234, 235, 170);
}
h4{ color: rgb(85, 27, 112);
    font-family: 'Lucida Sans';
    font-size: large;
}
h5{ font-size: x-large;
    font-family: Impact;
    color: forestgreen;
}
li{color: brown;
font-weight: 1500;
}