h1{ color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    background-color: rgb(173, 153, 170);
    text-align: center;
}
p{font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; 
    font-style: italic;
}
h2{
     color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: italic;
}
h3{ color: red;}
h4{ color:violet;
font-style: oblique;}